html {
  color: #e3e3e3;
  font-size: 1em;
  line-height: 1.4;
  font-family: Roboto, sans-serif;
}

body {
  background-color: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
}

html,
body {
  height: 100%;
}

h1 {
  font-weight: 400;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#chart-container {
  height: 500px;
  width: 800px;
  background-color: #313131;
}

svg {
  /* using border-box else padding overflows container */
  box-sizing: border-box;
  padding: 20px;
  height: 100%;
  width: 100%;
}
