html {
  color: #e3e3e3;
  font-size: 1em;
  line-height: 1.4;
  font-family: Roboto, sans-serif;
}

body {
  background-color: #282828;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*html,*/
/*body {*/
/*  height: 100%;*/
/*}*/

#temp-svg {
  visibility: hidden;
  position: absolute;
  width: 0;
  height: 0;
}

h1 {
  font-weight: 400;
}
main {
  width: 100%;
}
#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#chart-header {
  margin: 10px 20px;
}

#chart-title {
  margin: 0;
  font-weight: 300;
}

#chart-container {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  height: fit-content;
  width: 90%;
  max-width: 800px;
  background-color: #444444;
}

#chart-dropdown,
.chart-dropdown-option {
  font-size: 24px;
  font-family: Roboto, sans-serif;
  font-weight: 300;
}

svg {
  /* using border-box else padding overflows container */
  box-sizing: border-box;
  min-height: 500px;
  height: 100%;
  width: 100%;
}

.axisLabel {
}

.bar,
.barNameColor,
.barNameBg {
  transition: 0.3s ease;
}
